[LevelInfo0]
; EN: Title="Winged Death"
Title=""
; EN: IdealPlayerCount="Up to 5"
IdealPlayerCount=""

[LevelSummary]
; EN: Title="Winged Death"
Title=""
; EN: IdealPlayerCount="Up to 5"
IdealPlayerCount=""

