[LevelInfo0]
; EN: Title="Nali Village"
Title=""
; EN: IdealPlayerCount="Up to 4"
IdealPlayerCount=""

[LevelSummary]
; EN: Title="Nali Village"
Title=""
; EN: IdealPlayerCount="Up to 4"
IdealPlayerCount=""

[MonsterHuntObjective0]
; EN: Message="Hunt down the Titan"
Message=""

[MonsterHuntObjective2]
; EN: Message="Defeat the second Titan!"
Message=""

[MonsterHuntObjective3]
; EN: Message="Return to the escape ships"
Message=""

