[LevelInfo0]
; EN: Title="Titan's Revenge"
Title=""
; EN: IdealPlayerCount="Up to 6"
IdealPlayerCount=""

[LevelSummary]
; EN: Title="Titan's Revenge"
Title=""
; EN: IdealPlayerCount="Up to 6"
IdealPlayerCount=""

